<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Report</title>
</head>
<body><h1 style="color: #5e9ca0;">Mailer Report</h1>
<p>{{name}}, Please find attached document to check sent mail report</p>
</body>
</html>