<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Report</title>
</head>
<body><h1 style="color: #5e9ca0;">Notifications Report</h1>
<p>{{name}}, Please find below MOTD notification report</p>
<table class="editorDemoTable">
<thead>
<tr>

<td><b>Type</b></td>
<td><b>2xx</b></td>
 <td><b>3xx</b></td>
 <td><b>4xx</b></td>
 <td><b>5xx</b></td>
</tr>
</thead>
<tbody>

   {% for tableItem in finalReport %}
    <tr>
    <td>{{ tableItem["type"] }}</td>
    <td>{{ tableItem["2XX"] }}</td>
    <td>{{ tableItem["3XX"] }}</td>
    <td>{{ tableItem["4XX"] }}</td>
    <td>{{ tableItem["5XX"] }}</td>
    </tr>
    {% endfor %}

</tbody>
</table>
</body>
</html>